.block-block-contente04f1084-8289-4bb1-9c1e-2a04aa530d2a {
  padding: 5rem 15px;
  background-color: $light-blue-bg;
  width: 100%;
  @include breakpoint(large) {
    padding: 5rem 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  @include breakpoint(xlarge) {
    iframe {
      width: 1110px;
      height: 530px;
    }
  }
}
