.node--view-mode-fact-sheets .layout--twocol-section.layout--twocol-section--33-67 {
  padding-bottom: 1rem;
  border-bottom: 2px solid $btn-secondary-hover;

  > .layout__region--first {
    flex: 0 1 100%;
    @include breakpoint(large) {
      flex: 0 1 6%;
    }
  }
  > .layout__region--second {
    flex: 0 1 100%;
    @include breakpoint(large) {
      flex: 0 1 94%;
    }

    .block-field-blocknodedocumenttitle {
      margin-bottom: 0.75rem;
    }
    .field--name-title {
      margin: 1rem 0;
      a {
        font-size: 1.25rem;
        font-weight: 600;
        color: $primary;
        display: block;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .field--name-body p {
      font-weight: 500;
    }
  }

  .field--name-field-media-file {
    .btn.download {
      background-image: url("/themes/custom/qao/dist/images/icons/icon-download.svg");
      width: 2rem;
      height: 2.5rem;
      background-repeat: no-repeat;
      background-size: 1.5rem 2rem;
      white-space: nowrap;
    }
  }

  .block-views-blockbetter-practice-resource-block-1 & {
    .layout__region--first {
      @include breakpoint(large) {
        flex: 1 0 20%;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          /* IE10+ CSS styles go here */
          flex: 1 0 auto;
        }
      }

      display: flex;
      img {
        max-width: 270px;
        height: auto;
      }
      > .block-field-blocknodedocumentfield-thumbnail {
        @include breakpoint(large) {
          flex: 1 0 200px;
        }
        img {
          width: 100%;
          @include breakpoint(large) {
            width: 200px;
          }
        }
      }

      .btn.download {
        @include breakpoint(large) {
          margin-left: 1.5rem;
          margin-right: 0.375rem;
        }
      }
    }
    .layout__region--second {
      @include breakpoint(large) {
        flex: 1 0 65%;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          /* IE10+ CSS styles go here */
          flex: 1 0 590px;
        }
      }
    }
  }
}
