@import "../../mixins";
@import "../../variables";

.view-id-header_audit_report {
  width: 100%;
  > .row {
    margin-left: 0;
    margin-right: 0;
    > .views-row {
      width: 100%;
    }
  }

  .report-version {
    min-width: 250px;
    height: 50px;
    min-height: 50px;
    background-color: rgba(224, 96, 58, 0.8);
    color: $white;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .report-banner {
    position: relative;
  }

  .report-banner-image {
    z-index: -1;
    > .field-name-field-qao-banner-image {
      width: 100%;
      @include breakpoint(large) {
        min-height: 650px;
      }
      > img {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;

        @include breakpoint(large) {
          position: relative;
          min-height: 650px;
        }
      }
    }
  }

  .report-banner-content {
    background-color: rgba(40, 51, 110, 0.86);
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(large) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0 170px;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        left: calc(50vw - 578px);
        transform: none;
        width: 1140px;
        max-width: none;
      }
    }

    .report-banner-title {
      color: $white;
      font-size: 2.875rem;
      margin-top: 70px;
      margin-bottom: 20px;
      text-align: center;
      max-width: 100%;
    }
    .report-banner-secondary-title {
      color: $white;
      font-weight: 600;
      font-size: 1.5rem;
      max-width: 100%;
    }
    .report-banner-summary {
      margin-top: 20px;
      margin-bottom: 70px;
      max-width: 100%;

      span,
      p {
        color: $white;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .report-products {
    max-width: 1140px;
    flex-direction: row;
    background: $gray-300;
    margin: auto;

    .report-products-toggle {
      display: block;
      font-weight: 600;
      padding: 1rem;
      color: $primary;
      font-size: 1rem;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        border: solid $primary;
        border-width: 0 3px 3px 0;
        padding: 5px;
        transform: rotate(45deg);
        right: 1rem;
        top: 1.125rem;
      }

      + .report-products-items {
        display: none;
      }

      &.open + .report-products-items {
        display: block;
      }

      @include breakpoint(large) {
        display: none;
        + .report-products-items {
          display: flex;
        }
      }
    }
    .report-products-items {
      display: none;

      @include breakpoint(large) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 120px;
        min-height: 120px;
        padding: 0 2rem;
      }

      > .field-item {
        flex: 1;
        padding: 1rem;
        height: 100%;
        display: flex;
        align-items: center;

        > .report-item {
          width: 100%;
        }
      }
    }
    .report-item > a > span {
      font-weight: 600;
      display: flex;
      align-items: center;

      > span {
        max-width: 80%;
      }

      &:before {
        content: "";
        width: 3rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.icon-barchart:before {
        background-image: url("/themes/custom/qao/dist/images/icons/barchart.svg");
      }
      &.icon-file:before {
        background-image: url("/themes/custom/qao/dist/images/icons/file.svg");
      }
      &.icon-pdf:before {
        background-image: url("/themes/custom/qao/dist/images/icons/pdf.svg");
      }
      &.icon-video:before {
        background-image: url("/themes/custom/qao/dist/images/icons/video.svg");
      }
      &.icon-podcast:before {
        background-image: url("/themes/custom/qao/dist/images/icons/podcast.svg");
      }
      &.icon-audio:before {
        background-image: url("/themes/custom/qao/dist/images/icons/pdf.svg");
      }
    }
  }
}
